@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url(Lato-normal-400.woff) format('woff');
}

@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: url(Lobster-normal-400.woff) format('woff');
}