<div id="sponsors">
	<div class="panel panel-default">
		<div class="panel-heading">Sponsors</div>
		<div class="panel-body">
			<ul>
				<li>
					<a href="http://www.centreon.com/">
						<img src="{{ SITEURL }}/images/Centreon_Logo_RVB_Light_200x76px1.png" title="Centreon is a free monitoring software suite">
					</a>
				</li>
				<li>
					<a href="http://www.icinga.org/">
						<img src="{{ SITEURL }}/images/icinga_logo.png" title="Icinga is a scalable and extensible monitoring system which checks the availability of your resources, notifies users of outages and provides extensive BI data.">
					</a>
				</li>
				<li>
					<a href="http://www.onestep2.at/">
						<img src="{{ SITEURL }}/images/oneStep2_logo.png">
					</a>
				</li>
				<li>
					<a href="http://www.op5.com/" title="Why choose network management tools from op5? Because along with high quality products we offer simplicity, flexibility, cost efficiency and accessibility. We have even made licensing and support easy and hassle free. This is what sets us apart from the competition. When you know where to dig, you.ll always find the best solution.">
						<img src="{{ SITEURL }}/images/op5_logo_3d_150.png">
					</a>
				</li>
				<li>
					<a href="http://www.opcemautomation.com/" title="OpCEM is a solution that allow you to create application robots to check your applications and antecipate problems. You can manage your customers experience performance and availability using OpCEM discovering errors and bad app behaviour in the exactly moment they occur. OpCEM is fully integrated with Nagios-like management platforms.">
						<img src="{{ SITEURL }}/images/logo_opcem1.png">
					</a>
				</li>
				<li>
					<a href="http://www.transitiv.co.uk/" title="Transitiv Technologies provide up to 24/7 business critical support for Open Source software.">
						<img src="{{ SITEURL }}/images/TPT_MAIN_LOGO_143x59_TRANS.png">
					</a>
				</li>
				<li>
					<a href="http://www.wuerth-phoenix.com/neteye" title="With NetEye Wurth Phoenix offers an all-embracing Open Source monitoring solution for companies needing to control the growing complexity of their IT processes through limited budgets and lower personnel costs.">
						<img src="{{ SITEURL }}/images/NS-Client-Wuerth-Phoenix_120.jpg">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="panel panel-default" id="donate">
		<div class="panel-heading">Donate</div>
		<div class="panel-body">
			<div style="text-align: center">
				<form action="//www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="__FORM_TOKEN" value="047f4426ae6bf5d8f48f633d">
					<input name="__FORM_TOKEN" value="dcda2b6fc3fbbef3f70547b2" type="hidden"> 
					<input name="cmd" value="_xclick" type="hidden"> 
					<input name="business" value="michael@medin.name" type="hidden"> 
					<input name="no_shipping" value="1" type="hidden"> 
					<input name="return" value="http://nsclient.org/" type="hidden"> 
					<input name="no_note" value="1" type="hidden"> 
					<input name="item_name" value="NSCP Donations" type="hidden"> 
					<input name="currency_code" value="EUR" type="hidden"> 
					<input name="tax" value="0" type="hidden"> 
					<input src="/images/paypal.gif" name="submit" alt="Donate to NSClient++!" border="0" type="image"> 
				</form>
			</div>
		</div>
	</div>
</div>